<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/static/css/main.css" rel="stylesheet">
    <title>О сотрудниках</title>

  </head>
  <body>
      <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-1 mb-3">О сотрудниках НИИ</span>
          </a>
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/"  class="nav-link">Главная</a></li>
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Сотрудники</a></li>
            <li class="nav-item"><a href="publications" class="nav-link">Публикации</a></li>
            <li class="nav-item"><a href="administration" class="nav-link">Администрирование</a></li>
          </ul>
        </header>
      </div>
      <div class="b-example-divider"></div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <main>

      <div class="container-md px-4">

        <div class="row p-4 gx-15 gy-5">
          <th:block th:each="employee : ${employeeList}">
            <div class="card" style="width: 24rem;">
              <img th:src="${employee.getPhotoPath()}" class=" card-img-top" alt="Фото ученого">
              <div class="card-body">
                <h5 class="card-title" th:utext="${employee.getSurname()} + ' ' + ${employee.getName()} + ' ' + ${employee.getFathername()}"></h5>
                <p class="card-text"  th:utext="${employee.getPositionName()}"></p>
                <!--p class="card-text"  th:utext="${employee.getBiography()}"></p>
                <p class="card-text"  th:utext="${employee.interests}"></p-->
              </div>
              <ul class="list-group list-group-flush">
                <h5>Публикации</h5>
                <li class="list-group-item"><a href="/templates/publication.html">Интродукция горца забайкальского</a></li>
                <li class="list-group-item"><a href="/templates/publication.html">Анализ активности радионуклидов в биогеоцеозах</a></li>
                <li class="list-group-item"><a href="/templates/publication.html">Чередование партеногенеза и раздельнополых генераций в размножении солоноводного рачка</a></li>
              </ul>
              <div class="card-body">
                <button type="button" class="btn btn-sm btn-outline-warning"
                        th:attr="onclick='javascript:openCrud(employee_update, \''
                    + ${employee.getId()} + '\', \''
                    + ${employee.getSurname()} + '\', \''
                    + ${employee.getName()} + '\', \''
                    + ${employee.getFathername()} + '\', \''
                    + ${employee.getPositionName()} + '\', \''
                    + ${employee.getBiography()} + '\', \''
                    + ${employee.getInterests()} + '\')'"
                >Редактировать</button>
              </div>
            </div>
          </th:block>
        </div>
      </div>

      <div class="modal py-5 " tabindex="-1" id="employee_update">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <h2 class="fw-bold mb-0">Редактирование сведений о сотруднике</h2>
            </div>
            <div class="modal-body p-5 pt-0">
              <!form role="form" action="#" th:action="@{/employee_update/${id}(id=id_for_crUD)}" th:object="${employeeForm}" method="post">
              <form role="form" id="update_form_action" action="/employee_update/"   method="post"> <!--th:object="${employeeForm}"-->
                <input name="id" hidden class="form-control" id="id" type="text" tabindex="-1">
                <div class="row">
                  <div class="col-md-4 mt-2">
                    <label for="surname">Фамилия:</label>
                    <input name="surname" class="form-control" id="surname" maxlength="50" placeholder="Введите фамилию" type="text"> <!-- th:field="*{surname}"-->
                  </div>
                  <div class="col-md-4 mt-2">
                    <label for="name">Имя:</label>
                    <input name="name" class="form-control" id="name" maxlength="50" placeholder="Введите имя" type="text"> <!-- th:field="*{name}"-->
                  </div>
                  <div class="col-md-4 mt-2">
                    <label for="fathername">Отчество:</label>
                    <input name="fathername" class="form-control" id="fathername" maxlength="50" placeholder="Введите отчество" type="text"> <!-- th:field="*{fathername}"-->
                  </div>
                </div>

                <div class="col-md-12 mt-2">
                  <label for="positionName">Должность:</label>
                  <input name="positionName" class="form-control" id="positionName" placeholder="Введите должность" maxlength="80" type="text"> <!-- th:field="*{positionName}"-->
                </div>

                <div class="container bg-light mt-4">
                  <h4> Участие в публикациях</h4>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Интродукция горца забайкальского
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked>
                    <label class="form-check-label" for="flexCheckChecked1">
                      Анализ активности радионуклидов в биогеоцеозах
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked>
                    <label class="form-check-label" for="flexCheckChecked2">
                      Чередование партеногенеза и раздельнополых генераций в размножении солоноводного рачка
                    </label>
                  </div>
                </div>

                <div class="mb-3 mt-4">
                  <label for="biography" class="form-label">Краткая биография</label>
                  <textarea class="form-control"  name="biography" id="biography" rows="3"  maxlength="300" placeholder="Введите краткую биографию сотрудника"> </textarea>  <!-- th:field="*{biography}"-->
                </div>

                <div class="mb-3">
                  <label for="interests" class="form-label">Интересы</label>
                  <textarea class="form-control" name="interests" id="interests" maxlength="250" rows="3" placeholder="Введите интересы сотрудника">  </textarea>  <!-- th:field="*{interests}"-->
                </div>

                <div class="col-md-12 mt-4">
                  <div class="input-group  mt-2">
                    <input name="photoEmployee" type="file" class="form-control"
                           id="photoEmployee" accept="image/png, image/jpeg"> <!-- th:file="*{photo}"-->
                    <br>
                    <label class="input-group-text" for="photoEmployee">Загрузить фото</label>
                  </div>
                </div>

                <div class="row p-3">
                  <button id="save_employee_changes" type="submit"  class="btn btn-primary col-md-2"  >Сохранить</button>
                  <div class="col-md-1"></div>
                  <button type="button" class="btn btn-secondary col-md-2"
                          th:attr="onclick='javascript:closeCrud(employee_update)'">Отменить
                  </button>
                  <div class="col-md-4"></div>
                  <button type="button"  class="btn btn-danger col-md-2">
                    <a href="/employee_delete/" id="deleteButton">Удалить </a>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  <script src="/javascript/employeeJS.js"></script>
  </body>

</html>

