<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/static/css/main.css" rel="stylesheet">
    <title>О сотрудниках</title>
  </head>
  <body>
      <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-1 mb-3">О сотрудниках НИИ</span>
          </a>
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Главная</a></li>
            <li class="nav-item"><a href="employee" class="nav-link">Сотрудники</a></li>
            <li class="nav-item"><a href="publication" class="nav-link">Публикации</a></li>
            <li class="nav-item"><a href="administration" class="nav-link">Администрирование</a></li>
          </ul>
        </header>
      </div>
      <div class="b-example-divider"></div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

        <main>

    <div class="container-md px-4">
      <div class="row p-4 gx-15 gy-5">

        <div class="card" style="width: 24rem;">
          <img src="/images/employee1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Иванов Аркадий Петрович</h5>
            <p class="card-text" id="position">Старший научный сотрудник</p>
          </div>
          <ul class="list-group list-group-flush">
            <h5>Публикации</h5>
            <li class="list-group-item"><a href="/publication.html">Интродукция горца забайкальского</a></li>
            <li class="list-group-item"><a href="/publication.html">Анализ активности радионуклидов в биогеоцеозах</a></li>
            <li class="list-group-item"><a href="/publication.html">Чередование партеногенеза и раздельнополых генераций в размножении солоноводного рачка</a></li>
          </ul>
          
        </div>



      </div>

    </main>

    
  </body>
</html>