<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet">
    <title>О сотрудниках</title>
  </head>
  <body>
      <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-1 mb-3">О сотрудниках НИИ</span>
          </a>
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
            <li class="nav-item"><a href="employee" class="nav-link">Сотрудники</a></li>
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page" >Публикации</a></li>
            <li class="nav-item"><a href="administration" class="nav-link">Администрирование</a></li>
          </ul>
        </header>
      </div>
      <div class="b-example-divider"></div>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <main>
      <div class="container-md px-4">
        <div class="accordion" id="accordionExample">

          <div id="add-card"></div>

        </div>
      </div>

      <div class="modal py-5 " tabindex="-1" id="publication_update_modal">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <h2 class="fw-bold mb-0">Редактирование публикации</h2>
            </div>
            <div class="modal-body p-5 pt-0">
              <form role="form" id="edit_publication" action="/publication_update/"  th:object="${publicationForm}" method="post">
                <div class="row">
                  <div class="col-md-12 mt-2">
                    <label for="title">Название:</label>
                    <input name="title" class="form-control" id="title" placeholder="Введите название публикации" maxlength="50" type="text" th:field="*{title}">
                  </div>
                </div>

                <div class=" mb-3 mt-2">
                  <label for="theAbstract" class="form-label">Аннотация</label>
                  <textarea class="form-control" id="theAbstract" placeholder="Введите аннотацию к публикации" maxlength="400" rows="3"
                            type="text" th:field="*{theAbstract}"></textarea>
                </div>

                <!--option th:each="employee : ${T(ru.stoiko.employees.form.PublicationForm).getEmployees()}"-->
                <div class=" mb-3 mt-2">
                <!--label for="employee" > Авторы </label>
                  <select class="form-control selectpicker" th:field="*{employees}" id="employee">
                    <option value="">Авторы не выбраны</option>
                    <option th:each="employee: ${T(ru.stoiko.employees.form.EmployeeForm)}"
                            th:value="${employee}"
                            th:text="${employee}"></option>
                  </select>
                  -->
                  <!--p>
                    <label>Авторы:
                      <input type="checkbox" name="allListOfEmployees" id="allListOfEmployees"
                             th:each="employee : ${allListOfEmployees}"
                             th:text="${employee.surname + ' ' + employee.name + '   '}"
                             th:value="${employee.id}"
                             th:field="*{employees}"
                      />
                    </label>
                  </p-->
                </div>

                <div class="row p-3">
                  <button type="submit" id="saveButton" class="btn btn-primary col-md-4">Сохранить</button>
                  <div class="col-md-2"></div>
                  <button type="button" id="cancelButton" class="btn btn-secondary col-md-4">Отменить</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

  <script src="javascript/publication_ajax.js" ></script>
  </body>
</html>